.MainPageButtom{

    height: 650px;
    background-color: #FFD241;
    margin-bottom: -130px;
    padding: 40px 30px;
    display: flex;
    align-items: flex-start;

    .LeftBlock {

        width: 40%;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {

            font-size: 0.6rem;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 20px;

        }

        h1 {

            text-transform: uppercase;
            margin-bottom: 25px;

        }

        p {

            text-align: left;
            font-weight: 0.6rem;
            font-weight: 500;
            color: rgb(110, 102, 102);
            margin-bottom: 50px;

            .Line {

                height: 6px;
                background-color: black;
                width: 100px;
                margin-bottom: 20px;
                

            }

        }

        .GoButton {

            width: 150px;
            height: 40px;
            outline: none;
            border: none;
            padding: 8px 20px;
            text-transform: uppercase;
            border-radius: 20px;
            background-color: white;
            margin-bottom: 30px;
            text-align: left;

            &:hover {

                cursor: pointer;

            }

            span {

                margin-left: 70px;

            }

        }

        h3 {

            text-transform: uppercase;
            font-weight: 300;
            font-size: 0.6rem;

            &:hover {

                cursor: pointer;

            }

        }

    }

    .Jorney {

        width: 55%;

    }

}

@media only screen and (max-width: 481px) {

    .MainPageButtom{

        height: 500px;
        background-color: #FFD241;
        margin-bottom: -130px;
        padding: 30px 20px;
    
        .LeftBlock {
    
            margin-right: 30px;
            width: 100%;
    
            h2 {
    
                font-size: 0.6rem;
                text-transform: uppercase;
                font-weight: 400;
                margin-bottom: 20px;
    
            }
    
            h1 {
    
                text-transform: uppercase;
                margin-bottom: 25px;
                font-size: 1rem;
    
            }
    
            p {
    
                text-align: left;
                font-weight: 0.6rem;
                font-weight: 500;
                color: rgb(110, 102, 102);
                margin-bottom: 50px;
    
                .Line {
    
                    height: 6px;
                    background-color: black;
                    width: 100px;
                    margin-bottom: 20px;
                    
    
                }
    
            }
    
            .GoButton {
    
                width: 150px;
                height: 40px;
                outline: none;
                border: none;
                padding: 8px 20px;
                text-transform: uppercase;
                border-radius: 20px;
                background-color: white;
                margin-bottom: 30px;
                text-align: left;
    
                &:hover {
    
                    cursor: pointer;
    
                }
    
                span {
    
                    margin-left: 70px;
    
                }
    
            }
    
            h3 {
    
                text-transform: uppercase;
                font-weight: 300;
                font-size: 0.6rem;
    
                &:hover {
    
                    cursor: pointer;
    
                }
    
            }
    
        }
    
        .Jorney {
            
            display: none;
    
        }
    
    }

}