.AdminLenthFilter {

    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    input {
        width: 20%;
        height: 30px;
        padding: 0 15px;
    }

    button {
        width: 10%;
        height: 30px
    }

}