@mixin code {

    margin-bottom: 30px;

    .Groupe {

        display: flex;
        align-items: center;

    }

    input {

        width: 15px;
        height: 15px;
        border: 1px solid #E7E7E7;
        outline: none;

    }

    label {

        margin-left: 20px;
        margin-top: 11px;
        text-transform: none;
        font-size: 10px;
        font-weight: 700;

    }

    p { 

        margin: 20px 0 0 30px;
        font-size: 10px;
        font-weight: 300;
        color: #C1C1C1;

    }

}