.GoToAdminPage {
    
    position: absolute;
    font-size: 0.6rem;
    top: 40px;
    left: 310px;

}

.GoToAdminPage:hover {
    cursor: pointer;
}

@media only screen and (max-width:481px) {
    .GoToAdminPage {
        left: 40px;
    }
}
