.BLOCK_1 {

    width: 77%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .Element {

        width: 380px;
        margin-bottom: 40px;
        text-align: left;

        .Image {

            height: 218px;
            background-image: url("test.png");
            position: relative;

            .Price {

                width: 160px;
                height: 50px;
                background: #FFD241;
                font-size: 18px;
                font-weight: 900;
                text-align: center;
                padding-top: 16px;
                position: absolute;
                bottom: 0;


            }

        }

        .Country {

            font-size: 11px;
            color: #C5B223;
            margin: 12px 0;

        }

        .Title {

            font-size: 17px;
            margin-bottom: 20px;

        }

        .Road {

            font-size: 9px;
            color:  #8C8C8C;
            max-width: 340px;
            margin-bottom: 20px;

        }

        .Description {

            font-size: 9px;
            margin-bottom: 15px;
            font-weight: 700;

        }

        .AdditionalInformation {

            height: 17px;
            width: 130px;
            color: white;
            background: #CB0037;
            border-radius: 3px;
            font-size: 9px;
            text-align: center;
            padding: 3px;

        }

    }
}