$mainColor: #FFD241;
@use './similarParams';

.Header {
    
    background-color: $mainColor;
    width: 100%;
    height: 70px;
    padding-top: 23px;

    .Line1 {

        @include similarParams.code;
        height: 5px;
        width: 30px;   

    }

    .Line2 {

        @include similarParams.code;
        height: 4px;
        width: 30px;
        margin-top: 4px;

    }

    .Line3 {

        @include similarParams.code;
        height: 5px;
        width: 30px;
        margin-top: 4px;

    }

}