@use './input';
@use './checkbox';
@use './buttonSubmit';
@use './additional';
@use './checkmark';

.Form{

    width: 77%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 70px;

    .Error {

        color: #CB0037;
        font-size: 10px;
        font-weight: 500;
        margin-top: 15px;

    }

    label {

        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;

    }
    
    .FormPart {

        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 20px;

    }

    .AboutYou {

        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .FormGroupe {

            width: 380px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            .Input {

                @include input.code;
        
            }

            .InputRed {

                @include input.code;
                border: 1px solid #CB0037;

            }
    
        }

        .FormGroupeBottom {

            width: 380px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 30px;

            .Bottom {

                width: 100%;

            }

            .CheckboxGroupe {

                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                cursor: pointer;
                user-select: none;

                .CheckBox {

                    @include checkbox.code;


                }

            }

        }

    }

    .GetEmails {

        @include additional.code;

    }

    .Agreement {

        @include additional.code;

    }

    .ButtonSubmit {
        
        @include buttonSubmit.code;
        margin-bottom: 120px;
        margin-left: auto;

        &:hover {
            cursor: pointer;
        }

    }

}

@media only screen and (max-width:481px){

    .Form{

        width: 94%;
        padding-top: 15px;

        label{

            margin-top: 10px;

        }

        .FormPart{

            margin-top: 30px;

        }

        .AboutYou{

            display: flex;
            flex-direction: column;

            .FormGroupe{

                width: 100%;

                .Input{

                    width: 100%;

                }

                .InputRed{

                    width: 100%;

                }
            }

            .FormGroupeBottom{
                width: 100%;
                margin: 0 auto;
            }
        }
        .ButtonSubmit{
            width: 90%;
            margin: 0 auto;
        }
    }
}