.Form {
  width: 77%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 70px;
}
.Form .Error {
  color: #CB0037;
  font-size: 10px;
  font-weight: 500;
  margin-top: 15px;
}
.Form label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.Form .FormPart {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 20px;
}
.Form .AboutYou {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Form .AboutYou .FormGroupe {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.Form .AboutYou .FormGroupe .Input {
  width: 380px;
  height: 50px;
  border: 1px solid #E7E7E7;
  outline: none;
  padding: 10px 30px;
}
.Form .AboutYou .FormGroupe .InputRed {
  width: 380px;
  height: 50px;
  border: 1px solid #E7E7E7;
  outline: none;
  padding: 10px 30px;
  border: 1px solid #CB0037;
}
.Form .AboutYou .FormGroupeBottom {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}
.Form .AboutYou .FormGroupeBottom .Bottom {
  width: 100%;
}
.Form .AboutYou .FormGroupeBottom .CheckboxGroupe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.Form .AboutYou .FormGroupeBottom .CheckboxGroupe .CheckBox {
  height: 40px;
  width: 40px;
  border: 1px solid #E7E7E7;
  outline: none;
}
.Form .GetEmails {
  margin-bottom: 30px;
}
.Form .GetEmails .Groupe {
  display: flex;
  align-items: center;
}
.Form .GetEmails input {
  width: 15px;
  height: 15px;
  border: 1px solid #E7E7E7;
  outline: none;
}
.Form .GetEmails label {
  margin-left: 20px;
  margin-top: 11px;
  text-transform: none;
  font-size: 10px;
  font-weight: 700;
}
.Form .GetEmails p {
  margin: 20px 0 0 30px;
  font-size: 10px;
  font-weight: 300;
  color: #C1C1C1;
}
.Form .Agreement {
  margin-bottom: 30px;
}
.Form .Agreement .Groupe {
  display: flex;
  align-items: center;
}
.Form .Agreement input {
  width: 15px;
  height: 15px;
  border: 1px solid #E7E7E7;
  outline: none;
}
.Form .Agreement label {
  margin-left: 20px;
  margin-top: 11px;
  text-transform: none;
  font-size: 10px;
  font-weight: 700;
}
.Form .Agreement p {
  margin: 20px 0 0 30px;
  font-size: 10px;
  font-weight: 300;
  color: #C1C1C1;
}
.Form .ButtonSubmit {
  width: 280px;
  height: 49px;
  background: #FFD241;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  border: none;
  border-radius: 29.5px;
  padding: 0 19px;
  margin-bottom: 120px;
  margin-left: auto;
}
.Form .ButtonSubmit:hover {
  cursor: pointer;
}

@media only screen and (max-width: 481px) {
  .Form {
    width: 94%;
    padding-top: 15px;
  }
  .Form label {
    margin-top: 10px;
  }
  .Form .FormPart {
    margin-top: 30px;
  }
  .Form .AboutYou {
    display: flex;
    flex-direction: column;
  }
  .Form .AboutYou .FormGroupe {
    width: 100%;
  }
  .Form .AboutYou .FormGroupe .Input {
    width: 100%;
  }
  .Form .AboutYou .FormGroupe .InputRed {
    width: 100%;
  }
  .Form .AboutYou .FormGroupeBottom {
    width: 100%;
    margin: 0 auto;
  }
  .Form .ButtonSubmit {
    width: 90%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=Form.css.map */