$lineColor: #000000;

@mixin code {
    margin-left: 971px;
    border-radius: 0px;
    background-color: $lineColor;
    
    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 481px) {
    code {

        margin-left: 328px;

    }
}