.App {
  width: 1024px;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.59);
}

.App h1{
  height: 44px;
  margin-top: 46px;
  margin-bottom: 46px;
}
